:root {
  --color1: rgb(49, 87, 58);
  --color2: rgb(13, 70, 13);
  --color3: rgb(39, 39, 39);
  --color4: rgb(197, 195, 195);
  --color5: rgb(192, 149, 10);
  --color6: rgb(238, 126, 20);
  --color7: rgb(246, 246, 246);
  --color8: rgb(30, 135, 240);
}

.bg1 {
  background-color: var(--color1);
}

.bg2 {
  border-color: var(--color2);
}

.bg3 {
  background-color: var(--color3);
}

.bg4 {
  background-color: var(--color7);
}

.color1 {
  color: var(--color1);
}

.color2 {
  color: var(--color2);
}

.color3 {
  color: var(--color3);
  background-color: var(--color3);
}

.color4 {
  color: var(--color4);
}

.color8 {
  color: var(--color8);
}

/* Шапка */
header a {
  color: var(--bs-white);
}

.navbar-nav .nav-link.active,
.navbar-nav .show>.nav-link {
  color: green;
}

/* Домашняя страница */
/* Поиск */
.homepagesearch {
  background-image: url(img/HomepageImage.png);
  background-position: center;
  background-size: cover;
  width: 100%;
  padding: 300px 0;
}

.form-control:active,
.form-control:focus,
.form-control:hover {
  border-color: var(--bs-green);
  box-shadow: 2px 0px 3px 4px var(--color2);
}

/* Найти оборудование */
.homepagefind {
  margin-top: -4%;
}

/* Категории */
.homepagecategories {
  background-image: url(img/bg_find.png);
  background-position: left;
  background-size: cover;
  width: 100%;
  padding: 70px 0;
}

.cardwrapper {
  background-color: var(--color4);
  max-width: 350px;
}

/* Об аренде */
.homepageaboutrental {
  background-image: url(img/Rectangle9.png);
  background-position: center;
  background-size: cover;
  width: 100%;
  padding: 70px 0;
}

.homepageaboutrental .line1 {
  max-width: 500px;
  height: 3px;
  background-color: var(--color5);
  margin: 15px auto;
}

.homepageaboutrental .line2 {
  max-width: 400px;
  height: 3px;
  background-color: var(--color5);
  margin: 15px auto;
}

.homepageaboutrental .line3 {
  max-width: 200px;
  height: 3px;
  background-color: var(--color5);
  margin: 15px auto;
}

.homepageaboutrental .borderline h4 {
  border-right: 2px white solid;
}

/* Узнать больше */
.homepagelearnmore {
  background-image: url(img/About_us_container.png);
  background-position: center;
  background-size: cover;
  width: 100%;
  padding: 70px 0;
}

.homepagelearnmore .row {
  background-image: url(img/Rectangle13.png);
  background-position: center;
  background-size: cover;
}

/* Кнопка узнать больше*/
.orange-btn {
  background-color: var(--color6);
}

.orange-btn:focus,
.orange-btn:hover,
.orange-btn:active {
  box-shadow: 0px 0px 3px 4px #FFBE82;
  background-color: rgb(190, 116, 18);
}

/* Подвал */
/* Зеленый блок */
.contactus .borderline {
  border-left: 1px black solid;
}

/* Чёрный блок */
.footer .borderline {
  border-right: 1px white solid;
}

.footer .row1 {
  border-bottom: 1px white solid;
}

.footer .form-control {
  background-color: var(--color3);
  border-radius: 0;
  color: var(--bs-white);
}

.footer input::placeholder {
  color: var(--bs-white);
  text-align: center;
}

/* Зеленая копка подписаться */
.green-btn {
  background-color: var(--color2);
  border-radius: 0;
}

.green-btn:active,
.green-btn:hover,
.green-btn:focus {
  background-color: rgb(61, 179, 61);
}

.footer .row .line1 {
  max-width: 120px;
  height: 2px;
  background-color: var(--color5);
  margin: 10px auto;
}

.footer .row .line2 {
  max-width: 80px;
  height: 2px;
  background-color: var(--color5);
  margin: 10px auto;
}

.footer .row .line3 {
  max-width: 30px;
  height: 2px;
  background-color: var(--color5);
  margin: 10px auto;
}

.footer li a {
  color: var(--bs-white);
  text-decoration: none;
}

/* Конец домашней страницы */
/* Лист товаров */
/* Шапка */
.equipmentlistheader {
  background-image: url(img/Rectangle17.png);
  background-position: center;
  background-size: cover;
  width: 100%;
  padding: 180px 0;
}

/* Копка-листик */
.green-btn2 {
  background-color: var(--color2);
  border-radius: 35px 0px 35px 0px;
}

.green-btn2:active,
.green-btn2:focus,
.green-btn2:hover {
  background-color: rgb(61, 179, 61);
}

/* Черная кнопка резервации */
.equipmentlistcategory .btn-dark {
  border-radius: 0;
}

/* О нас */
.aboutusheader {
  background-image: url(img/Rectangle18.png);
  background-position: center;
  background-size: cover;
  width: 100%;
  padding: 180px 0;
}

/* Контакты */
.contact_usheader {
  background-image: url(img/Rectangle19.png);
  background-position: center;
  background-size: cover;
  width: 100%;
  padding: 180px 0;
}